<p>Hey {{ name }},</p>
<p>We have receive the request to change password. If it was not you ignore this mail </p>
<p> Please click below to reset your password</p>
<p>
    <a clicktracking="off" href="{{ url }}">Confirm</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>